# Ссылка на Дашборды

* https://datalens.yandex/ef92evy3ku325


# Мастерская  ProCharity. Создание Дашборда в DataLens.
Посколько в Datalens все очень не просто и не очевидно, предобработку файлов делаем в колабе.

## Подготовка исходника для построение Дашборда по разделу Компании

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
from google.colab import files

## Таблица Волонтеры

In [ ]:
volunteers = pd.read_csv('/content/Volunteers.csv')

In [ ]:
  def observe_data(table):
      '''Giving common understanding of data in dataframe'''
      print ('Случайная запись таблицы')
      display(table.sample())
      print('_'*100)
      print(f'Количество записей в таблице: {table.shape[0]} \nKоличество столбцов в таблице: {table.shape[1]}')
      print('_'*100)
      names_columns = table.columns
      print(f'Названия столбцов: {names_columns}')
      print('_'*100)
      names_to_corrige = []
      for name_column in names_columns:
          if not name_column.islower() or ' ' in name_column:
              names_to_corrige.append(name_column)
      if len(names_to_corrige) == 0:
          print ('Название столбцов корректно')
      else:
          print(f'Название следующих колонок должны быть откорретированы: {names_to_corrige}')
      print('_'*100)
      lost_values = table.isna().sum()
      missed_values = lost_values.to_frame(name='missed_values')
      missed_values['percent'] = round(table.isna().mean()*100, 0)
      print ('Пропущенные значения в абсолютном и относительном выражениях:')
      display(missed_values)
      print('_'*100)
      print('Типы данных в колонках:')
      print(table.dtypes)
      print('_'*100)
      print(f'Количество явных дубликатов: {table.duplicated().sum()}', 
            f'что составляет {round(table.duplicated().mean()*100, 0)} % от всех записей')

In [ ]:
observe_data(volunteers)

Случайная запись таблицы

,Category,City,Date_BirthDay,Date_Created,Date_FirstRespond,Date_FirstTask,Date_LastRespond,Date_LastTask,Date_Lastvisit,Date_Moderation,Date_ModerationDenial,Email_Digest,Email_NewTasks,Status,Bonuses,ID_Company,ID_Volunteer,Number_Responds,Number_Reviews,Number_Tasks
2313,"Маркетинг и коммуникации,",Москва,4/21/1991,5/16/20 6:56,NaN,NaN,NaN,NaN,5/25/2021,5/16/2020,NaN,True,False,Промодерирован,0,0,18 329,0,0,0

____________________________________________________________________________________________________
Количество записей в таблице: 7388
Kоличество столбцов в таблице: 20
____________________________________________________________________________________________________
Названия столбцов: Index(['Category', 'City', 'Date_BirthDay', 'Date_Created',
       'Date_FirstRespond', 'Date_FirstTask', 'Date_LastRespond',
       'Date_LastTask', 'Date_Lastvisit', 'Date_Moderation',
       'Date_ModerationDenial', 'Email_Digest', 'Email_NewTasks', 'Status',
       'Bonuses', 'ID_Company', 'ID_Volunteer', 'Number_Responds',
       'Number_Reviews', 'Number_Tasks'],
      dtype='object')
____________________________________________________________________________________________________
Название следующих колонок должны быть откорретированы: ['Category', 'City', 'Date_BirthDay', 'Date_Created', 'Date_FirstRespond', 'Date_FirstTask', 'Date_LastRespond', 'Date_LastTask', 'Date_Lastvisit', 'Date_Moderation', 'Date_ModerationDenial', 'Email_Digest', 'Email_NewTasks', 'Status', 'Bonuses', 'ID_Company', 'ID_Volunteer', 'Number_Responds', 'Number_Reviews', 'Number_Tasks']
____________________________________________________________________________________________________
Пропущенные значения в абсолютном и относительном выражениях:

                       missed_values  percent
Category                        2042     28.0
City                            3268     44.0
Date_BirthDay                   3077     42.0
Date_Created                       0      0.0
Date_FirstRespond               5729     78.0
Date_FirstTask                  6397     87.0
Date_LastRespond                5764     78.0
Date_LastTask                   6594     89.0
Date_Lastvisit                   156      2.0
Date_Moderation                 4995     68.0
Date_ModerationDenial           4570     62.0
Email_Digest                       0      0.0
Email_NewTasks                     0      0.0
Status                             1      0.0
Bonuses                            0      0.0
ID_Company                         0      0.0
ID_Volunteer                       0      0.0
Number_Responds                    0      0.0
Number_Reviews                     0      0.0
Number_Tasks                       0      0.0

____________________________________________________________________________________________________
Типы данных в колонках:
Category                 object
City                     object
Date_BirthDay            object
Date_Created             object
Date_FirstRespond        object
Date_FirstTask           object
Date_LastRespond         object
Date_LastTask            object
Date_Lastvisit           object
Date_Moderation          object
Date_ModerationDenial    object
Email_Digest               bool
Email_NewTasks             bool
Status                   object
Bonuses                   int64
ID_Company               object
ID_Volunteer             object
Number_Responds           int64
Number_Reviews            int64
Number_Tasks              int64
dtype: object
____________________________________________________________________________________________________
Количество явных дубликатов: 0 что составляет 0.0 % от всех записей

In [ ]:
from datetime import datetime, timedelta

In [ ]:
volunteers['Date_Created'] =  pd.to_datetime(volunteers['Date_Created'])

In [ ]:
volunteers['Date_Created'] = pd.to_datetime(volunteers['Date_Created'], format = '%d/%m/%Y %H:%M').dt.date

In [ ]:
for column in ['Date_Moderation', 'Date_FirstRespond', 'Date_ModerationDenial', 'Date_FirstTask','Date_Created']:
    volunteers[column] =  pd.to_datetime(volunteers[column])

Нужно удалить пропуски в числа в колонке ['ID_Volunteer']

In [ ]:
volunteers['ID_Volunteer'] = volunteers['ID_Volunteer'].replace(r'\s+','',regex=True)

In [ ]:
volunteers['ID_Volunteer']

0           39
1           40
2           41
3           42
4           43
         ...
7383    102562
7384    102568
7385    102576
7386    102586
7387    102587
Name: ID_Volunteer, Length: 7388, dtype: object

In [ ]:
volunteers['ID_Volunteer'] = volunteers['ID_Volunteer'].astype(str).astype(float)

In [ ]:
volunteers.dtypes

Category                  object
City                      object
Date_BirthDay             object
Date_Created              object
Date_FirstRespond         object
Date_FirstTask            object
Date_LastRespond          object
Date_LastTask             object
Date_Lastvisit            object
Date_Moderation           object
Date_ModerationDenial     object
Email_Digest                bool
Email_NewTasks              bool
Status                    object
Bonuses                    int64
ID_Company                object
ID_Volunteer             float64
Number_Responds            int64
Number_Reviews             int64
Number_Tasks               int64
dtype: object

In [ ]:
date = datetime.strptime('2020-01-01', '%Y-%m-%d').date()

In [ ]:
volunteers = volunteers.query('Date_Created >= @date')

## Таблица Компании

In [ ]:
company = pd.read_csv('/content/Companies.csv')

In [ ]:
company

                                              Name          Status ID_Company
0                                   Httpool Россия  Промодерирован      2 943
1                                           Билайн  Промодерирован      3 263
2                                             KPMG  Промодерирован      4 010
3                                            Сибур  Промодерирован      4 805
4                                        Нетология  Промодерирован      5 046
5                                       Альфа-Банк  Промодерирован      6 411
6                                         Skillbox  Промодерирован      8 816
7                                          Tinkoff  Промодерирован     13 072
8                             Coca-Cola HBC Russia  Промодерирован     13 643
9                                       Ростелеком  Промодерирован     18 539
10                                        Deloitte  Промодерирован     21 293
11                                              VK  Промодерирован     34 999
12                                       X5 Group   Промодерирован     38 605
13                                Яндекс Практикум  Промодерирован     38 847
14          Олимпиада &quot;Я – профессионал&quot;  Промодерирован     39 377
15                           Коллегия адвокатов А1  Промодерирован     39 628
16                                        McKinsey  Промодерирован     43 389
17                                Банк Хоум Кредит  Промодерирован     46 014
18                    Центр Финансовых Технологий   Промодерирован     46 424
19  &quot;Газпромбанк&quot; (Акционерное общество)  Промодерирован     47 155

In [ ]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        20 non-null     object
 1   Status      20 non-null     object
 2   ID_Company  20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

## Таблица Рейтинг волонтеров

In [ ]:
raiting = pd.read_csv('/content/RatingVol.csv')

FileNotFoundError: ignored

In [ ]:
raiting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4336 entries, 0 to 4335
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  4336 non-null   object
 1   ID_Feedback           4336 non-null   int64
 2   ID_Task               4336 non-null   int64
 3   ID_Volunteer          4336 non-null   int64
 4   Rating_Operativeness  4336 non-null   int64
 5   Rating_Politeness     4336 non-null   int64
 6   Rating_Proactivity    4336 non-null   int64
 7   Rating_Punctuality    4336 non-null   int64
 8   Rating_Quality        4336 non-null   int64
dtypes: int64(8), object(1)
memory usage: 305.0+ KB

In [ ]:
raiting

,Date,ID_Feedback,ID_Task,ID_Volunteer,Rating_Operativeness,Rating_Politeness,Rating_Proactivity,Rating_Punctuality,Rating_Quality
0,5/23/19 12:44,276,3384,1141,5,5,5,5,5
1,5/24/19 17:30,278,5376,5434,5,5,3,5,4
2,5/28/19 21:14,280,5522,5624,5,5,4,5,5
3,5/29/19 7:59,282,5542,1777,5,5,1,5,3
4,5/29/19 11:20,283,5340,1141,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...
4331,6/30/22 17:32,6352,100304,41718,5,5,5,5,5
4332,6/30/22 23:17,6353,103060,46206,5,5,5,5,4
4333,7/1/22 9:16,6354,52346,40887,5,5,5,5,5
4334,7/1/22 10:26,6356,102116,51144,5,5,5,5,5
4335,7/1/22 12:26,6357,102322,23189,5,5,5,5,5

# Подготовка таблицы для подсчета рейтинга по компаниям

Нам нужно в таблицу рейтинга добавить информацию по названию компании. Для этого из таблицы с волонтерами возьмем ID волонтера  ID компании , сджойним с названием компании и присоединим к тбалице с рейтингом.

In [ ]:
temple = volunteers[['ID_Volunteer','ID_Company']]

In [ ]:
temple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7388 entries, 0 to 7387
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_Volunteer  7388 non-null   float64
 1   ID_Company    7388 non-null   object
dtypes: float64(1), object(1)
memory usage: 115.6+ KB

In [ ]:
temple = temple.merge(company, left_on='ID_Company', right_on='ID_Company')

In [ ]:
raiting = raiting.merge(temple, left_on='ID_Volunteer', right_on='ID_Volunteer')

In [ ]:
raiting.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 0 to 477
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  478 non-null    object
 1   ID_Feedback           478 non-null    int64
 2   ID_Task               478 non-null    int64
 3   ID_Volunteer          478 non-null    int64
 4   Rating_Operativeness  478 non-null    int64
 5   Rating_Politeness     478 non-null    int64
 6   Rating_Proactivity    478 non-null    int64
 7   Rating_Punctuality    478 non-null    int64
 8   Rating_Quality        478 non-null    int64
 9   ID_Company            478 non-null    object
 10  Name                  478 non-null    object
 11  Status                478 non-null    object
dtypes: int64(8), object(4)
memory usage: 48.5+ KB

In [ ]:
raiting.to_csv('raiting.csv')
from google.colab import files
files.download('raiting.csv')

In [ ]:
volunteers = volunteers.merge(company, left_on='ID_Company', right_on='ID_Company')

In [ ]:
volunteers['year'] = volunteers['Date_Created'].dt.year
volunteers['month'] = volunteers['Date_Created'].dt.month

In [ ]:
volunteers

,Category,City,Date_BirthDay,Date_Created,Date_FirstRespond,Date_FirstTask,Date_LastRespond,Date_LastTask,Date_Lastvisit,Date_Moderation,Date_ModerationDenial,Email_Digest,Email_NewTasks,Status_x,Bonuses,ID_Company,ID_Volunteer,Number_Responds,Number_Reviews,Number_Tasks,Name,Status_y,year,month
0,"Дизайн и Верстка,IT,Фото и видео,",Симферополь,1/12/2000,2020-01-13,2020-01-15,NaT,NaN,NaN,1/19/2020,2020-01-13,NaT,True,True,Промодерирован,0,5 046,12456.0,0,0,0,Нетология,Промодерирован,2020,1
1,"Дизайн и Верстка,",Краснодар,7/5/1991,2020-02-07,NaT,NaT,NaN,NaN,2/8/2020,2020-02-10,NaT,True,True,Промодерирован,0,5 046,13221.0,0,0,0,Нетология,Промодерирован,2020,2
2,"Дизайн и Верстка,",Красноярск,1/7/1993,2020-02-21,2020-02-21,NaT,2/21/2020,NaN,2/21/2020,2020-02-21,NaT,True,True,Промодерирован,0,5 046,13763.0,1,0,0,Нетология,Промодерирован,2020,2
3,"Дизайн и Верстка,",Санкт-Петербург,NaN,2020-02-27,NaT,NaT,NaN,NaN,2/28/2020,2020-02-27,NaT,True,True,Промодерирован,0,5 046,13991.0,0,0,0,Нетология,Промодерирован,2020,2
4,"Дизайн и Верстка,Переводы,",Киев,5/8/1998,2020-03-07,NaT,NaT,NaN,NaN,3/7/2020,2020-03-10,NaT,True,True,Промодерирован,0,5 046,14334.0,0,0,0,Нетология,Промодерирован,2020,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,"IT,Обучение и тренинги,",Москва,6/9/1970,2022-03-24,NaT,NaT,NaN,NaN,3/24/2022,2022-03-24,NaT,True,True,Промодерирован,0,47 155,48668.0,0,0,0,&quot;Газпромбанк&quot; (Акционерное общество),Промодерирован,2022,3
603,"Маркетинг и коммуникации,Переводы,Менеджмент,",NaN,2/16/1992,2022-03-29,NaT,NaT,NaN,NaN,3/29/2022,2022-03-30,NaT,True,False,Промодерирован,0,47 155,48951.0,0,0,0,&quot;Газпромбанк&quot; (Акционерное общество),Промодерирован,2022,3
604,"Переводы,IT,Фото и видео,Обучение и тренинги,",NaN,NaN,2022-04-11,NaT,NaT,NaN,NaN,4/11/2022,2022-04-11,NaT,True,True,Промодерирован,0,47 155,49761.0,0,0,0,&quot;Газпромбанк&quot; (Акционерное общество),Промодерирован,2022,4
605,"Обучение и тренинги,",NaN,10/14/1972,2022-04-13,NaT,NaT,NaN,NaN,4/13/2022,2022-04-13,NaT,True,False,Промодерирован,0,47 155,49939.0,0,0,0,&quot;Газпромбанк&quot; (Акционерное общество),Промодерирован,2022,4
606,"Обучение и тренинги,Финансы и фандрайзинг,",Санкт-Петербург,10/31/1990,2022-05-03,NaT,NaT,NaN,NaN,5/6/2022,2022-05-04,NaT,True,False,Промодерирован,0,47 155,51402.0,0,0,0,&quot;Газпромбанк&quot; (Акционерное общество),Промодерирован,2022,5

In [ ]:
volunteers.to_csv('volunteers.csv')
files.download('volunteers.csv')

## Таблица Tasks

In [ ]:
tasks = pd.read_csv('/content/Данные ProCharity.xlsx - Tasks.csv')

In [ ]:
tasks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7027 entries, 0 to 7026
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Category          6897 non-null   float64
 1   Date_Closed       4568 non-null   object
 2   Date_Creation     7027 non-null   object
 3   Date_Deadline     6902 non-null   object
 4   Date_Publication  6410 non-null   object
 5   Heading           7027 non-null   object
 6   Status            7026 non-null   object
 7   Type              7027 non-null   object
 8   Bonuses           7027 non-null   int64
 9   ID_Fund           7027 non-null   object
 10  ID_Task           7027 non-null   object
 11  ID_Volunteer      5362 non-null   object
 12  Views_Number      7027 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 713.8+ KB

In [ ]:
for column in ['Date_Closed', 'Date_Creation', 'Date_Deadline', 'Date_Publication']:
    tasks[column] =  pd.to_datetime(tasks[column])

In [ ]:
tasks.head()

,Category,Date_Closed,Date_Creation,Date_Deadline,Date_Publication,Heading,Status,Type,Bonuses,ID_Fund,ID_Task,ID_Volunteer,Views_Number
0,2.0,NaT,2017-11-14 10:48:00,2018-03-16 12:00:00,NaT,Разработка PR-стратегии,Удалена,Задача,0,92,73,NaN,0
1,2.0,2018-03-06 02:29:00,2017-11-14 10:50:00,2018-02-28 12:00:00,NaT,Мониторинг и аналитика результатов заведенных ...,Выполнена,Задача,3,113,76,330,0
2,2.0,2018-02-15 04:49:00,2017-12-08 01:27:00,2018-01-22 12:00:00,2018-01-17 03:39:00,Копирайт для сайта,Выполнена,Задача,2,113,140,476,0
3,2.0,2018-04-24 02:14:00,2017-12-08 03:16:00,2018-02-28 12:00:00,NaT,Анализ digital каналов и инструментов,Выполнена,Задача,2,114,144,416,0
4,3.0,NaT,2017-12-08 03:24:00,2018-09-30 12:00:00,2018-08-10 12:13:00,Медицинский перевод,Удалена,Задача,0,8 731,145,382,0

In [ ]:
tasks['ID_Volunteer'] = tasks['ID_Volunteer'].replace(r'\s+','',regex=True)
tasks['ID_Volunteer'] = tasks['ID_Volunteer'].astype(str).astype(float)

In [ ]:
tasks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        374 non-null    int64
 1   Category          374 non-null    float64
 2   Date_Closed       317 non-null    object
 3   Date_Creation     374 non-null    object
 4   Date_Deadline     374 non-null    object
 5   Date_Publication  371 non-null    object
 6   Heading           374 non-null    object
 7   Status            374 non-null    object
 8   Type              374 non-null    object
 9   Bonuses           374 non-null    int64
 10  ID_Fund           374 non-null    object
 11  ID_Task           374 non-null    object
 12  ID_Volunteer      374 non-null    float64
 13  Views_Number      374 non-null    int64
 14  ID_Company        374 non-null    object
 15  Name              374 non-null    object
 16  year              317 non-null    float64
 17  month             317 non-null    float64
dtypes: float64(4), int64(3), object(11)
memory usage: 52.7+ KB

In [ ]:
volunteers.head(1)

,Category,City,Date_BirthDay,Date_Created,Date_FirstRespond,Date_FirstTask,Date_LastRespond,Date_LastTask,Date_Lastvisit,Date_Moderation,Date_ModerationDenial,Email_Digest,Email_NewTasks,Status_x,Bonuses,ID_Company,ID_Volunteer,Number_Responds,Number_Reviews,Number_Tasks,Name,Status_y,year,month
0,"Дизайн и Верстка,IT,Фото и видео,",Симферополь,1/12/2000,2020-01-13,2020-01-15,NaT,NaN,NaN,1/19/2020,2020-01-13,NaT,True,True,Промодерирован,0,5 046,12456.0,0,0,0,Нетология,Промодерирован,2020,1

In [ ]:
temple_2 = volunteers[['ID_Volunteer', 'ID_Company', 'Name']]

In [ ]:
tasks = tasks.merge(temple_2, left_on='ID_Volunteer', right_on = 'ID_Volunteer')

In [ ]:
tasks

,Category,Date_Closed,Date_Creation,Date_Deadline,Date_Publication,Heading,Status,Type,Bonuses,ID_Fund,ID_Task,ID_Volunteer,Views_Number,ID_Company,Name
0,3.0,2020-02-12 01:04:00,2020-02-03 08:01:00,2020-02-11 12:00:00,2020-02-04 11:03:00,Перевод новости,Выполнена,Задача,2,919,13 085,13174.0,0,13 072,Tinkoff
1,6.0,2020-02-22 10:18:00,2020-02-18 09:17:00,2020-02-23 12:00:00,2020-02-18 01:03:00,Помощь в составлении договора на английском,Выполнена,Задача,2,7 217,13 539,13174.0,0,13 072,Tinkoff
2,6.0,2020-03-17 02:16:00,2020-03-02 03:42:00,2020-03-07 12:00:00,2020-03-02 04:01:00,Консультация по вопросам медицинского права,Выполнена,Задача,1,1 053,14 138,13174.0,0,13 072,Tinkoff
3,3.0,2020-03-28 08:07:00,2020-03-12 02:05:00,2020-03-26 12:00:00,2020-03-12 02:20:00,Перевод презентации (РУС-ENG),Выполнена,Задача,2,120,14 501,13174.0,0,13 072,Tinkoff
4,6.0,2020-03-18 03:24:00,2020-03-13 04:59:00,2020-03-16 12:00:00,2020-03-13 05:01:00,Помощь в составлении договора на английском,Выполнена,Задача,1,7 217,14 552,13174.0,0,13 072,Tinkoff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,3.0,NaT,2022-06-13 02:57:00,2022-06-30 12:00:00,2022-06-14 10:34:00,Перевод статьи,В работе,Задача,2,32 393,102 036,46372.0,0,34 999,VK
370,2.0,NaT,2022-06-03 07:26:00,2022-06-13 12:00:00,2022-06-03 08:12:00,Копирайтинг текстов для карточек заданий,Не выполнена волонтером,Задача,3,120,101 169,101199.0,0,34 999,VK
371,4.0,NaT,2022-06-03 11:29:00,2022-06-10 12:00:00,2022-06-03 11:38:00,Анализ данных в Excel,В работе,Задача,1,120,101 109,44919.0,0,34 999,VK
372,3.0,NaT,2022-06-07 12:49:00,2022-06-30 12:00:00,2022-06-07 01:51:00,Перевод документа,В работе,Задача,5,32 393,101 505,51012.0,0,34 999,VK
373,6.0,NaT,2022-06-09 02:08:00,2022-06-18 12:00:00,2022-06-09 05:26:00,Консультация по трудоустройству мигрантов,В работе,Задача,2,2 785,101 701,39523.0,0,39 377,Олимпиада &quot;Я – профессионал&quot;

In [ ]:
tasks['year'] = tasks['Date_Creation'].dt.year
tasks['month'] = tasks['Date_Creation'].dt.month

In [ ]:
tasks

,Category,Date_Closed,Date_Creation,Date_Deadline,Date_Publication,Heading,Status,Type,Bonuses,ID_Fund,ID_Task,ID_Volunteer,Views_Number,year,month
0,2.0,NaT,2017-11-14 10:48:00,2018-03-16 12:00:00,NaT,Разработка PR-стратегии,Удалена,Задача,0,92,73,NaN,0,2017,11
1,2.0,2018-03-06 02:29:00,2017-11-14 10:50:00,2018-02-28 12:00:00,NaT,Мониторинг и аналитика результатов заведенных ...,Выполнена,Задача,3,113,76,330.0,0,2017,11
2,2.0,2018-02-15 04:49:00,2017-12-08 01:27:00,2018-01-22 12:00:00,2018-01-17 03:39:00,Копирайт для сайта,Выполнена,Задача,2,113,140,476.0,0,2017,12
3,2.0,2018-04-24 02:14:00,2017-12-08 03:16:00,2018-02-28 12:00:00,NaT,Анализ digital каналов и инструментов,Выполнена,Задача,2,114,144,416.0,0,2017,12
4,3.0,NaT,2017-12-08 03:24:00,2018-09-30 12:00:00,2018-08-10 12:13:00,Медицинский перевод,Удалена,Задача,0,8 731,145,382.0,0,2017,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7022,1.0,NaT,2022-06-20 06:41:00,2022-07-04 12:00:00,2022-06-20 06:48:00,Дизайн ссылок/кнопок на статьи базы знаний на ...,Опубликована,Задача,2,120,102 573,NaN,0,2022,6
7023,1.0,NaT,2022-06-20 07:46:00,2022-07-03 12:00:00,NaT,Давайте Делать Добро (Улучшение квеста День До...,На модерации,Задача,1,45 220,102 577,NaN,0,2022,6
7024,19.0,NaT,2022-06-20 07:58:00,2022-06-30 12:00:00,NaT,Создание франчайзингового текста,Отказ в публикации,Задача,1,48 514,102 498,NaN,0,2022,6
7025,10.0,NaT,2022-06-20 11:20:00,2022-06-28 12:00:00,2022-06-20 02:11:00,Консультация по запуску франшизы в социальном ...,Опубликована,Задача,3,22 761,102 517,NaN,0,2022,6
7026,2.0,NaT,2022-06-20 12:47:00,2022-07-01 12:00:00,2022-06-20 02:19:00,Привлечение блогеров/сообществ,Опубликована,Задача,3,51 393,102 525,NaN,0,2022,6

In [ ]:
tasks.to_csv('tasks.csv')

files.download('tasks.csv')